{% load wagtailcore_tags %}
{% load accordion_menu_helpers %}

<ol class="accordion-pages">
    {% for page in pages.children %}
    <li active={{page|is_page_active:current_page}}>
        <a href={{page.url}}>{{page}}</a>
        {% if page.number_of_children %}
        <ol class="accordion-subpages">
            {% for subpage in page.children %}
                <li active={{subpage|is_page_active:current_page}}>
                    <a href={{subpage.url}}>{{subpage}}</a>
                    {% if subpage.number_of_children %}
                    <ol class="accordion-subsubpages">
                        {% for subsubpage in subpage.children %}
                            <li active={{subsubpage|is_page_active:current_page}}>
                                <a href={{subsubpage.url}}>{{subsubpage}}</a>
                            </li>
                        {% endfor %}
                    </ol>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
        {% endif %}
    </li>
    {% endfor %}
</ol>
