{% load wagtailcore_tags %}
{% load accordion_menu_helpers %}

<nav>
    <ol class="top-menu">
        {% for page in pages.children %}
        <li aria-expanded="{{page.active}}">
            <a href={{page.url}}>{{page.title}}</a>
        </li>
        {% endfor %}
    </ol>
</nav>
<nav>
    <ol class="accordion subpages">
    {% for page in pages.children %}

        {% if page.number_of_children %}
        {% for subpage in page.children %}
        <li aria-expanded="{{subpage.active}}">
            <a href={{subpage.url}}>{{subpage.title}}</a>

            {% if subpage.number_of_children %}
            <ol class="subsubpages">
                {% for subsubpage in subpage.children %}
                <li aria-expanded="{{subsubpage.active}}">
                    <a href={{subsubpage.url}}>{{subsubpage.title}}</a>

                    {% if subsubpage.number_of_children %}
                        <ol class="subsubsubpages">
                        {% for subsubsubpage in subsubpage.children %}
                            <li aria-expanded="{{subsubsubpage.active}}">
                                <a href={{subsubsubpage.url}}>{{subsubpage.title}}</a>
                            </li>
                        {% endfor %}
                        </ol>
                    {% endif %}

                </li>
                {% endfor %}
            </ol>
            {% endif %}

        </li>
        {% endfor %}

        {% endif %}
    {% endfor %}
    </ol>
</nav>
