{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}


{% if self.page %}
<a class="d-flex flex-column" href="{% pageurl self.page %}">
    <div class="responsive-card">
        <div>
            {% if self.page.hero_image %}
            {% image self.page.hero_image fill-480x270 %}
            {% else %}
            <div class="default-background"></div>
            {% endif %}
        </div>
    </div>
    <div class="d-flex flex-column h-100 justify-content-center">
        <h4>{{self.page.translated_title}}</h4>
        <p class="text-sm">{{self.page.description}}</p>
    </div>
</a>
{% endif %}
