{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password required' %}{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="login-logout-password-frame">
        <h3>{% trans 'Password required' %}</h3>
        <p>{% trans 'You need a password to access this page.' %}</p>
        <form action="{{ action_url }}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="button-primary" type="submit">{% trans 'Continue' %}</button>
        </form>
    </div>
</div>
{% endblock content %}
