{% load wagtailimages_tags %}

{% if self.image_disposition == 'right' %}
<div class="row">
    <div class="col-12 col-md-6 col-xl-7">
        {% if self.title %}
        <h2>{{self.title}}</h2>
        {% endif %}
        {{self.description}}
    </div>
    <div class="col-12 col-md-6 col-xl-5">
        {% image self.image fill-320x200 %}
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-12 col-md-6 col-xl-5">
        {% image self.image fill-320x200 %}
    </div>
    <div class="col-12 col-md-6 col-xl-7">
        {% if self.title %}
        <h2>{{self.title}}</h2>
        {% endif %}
        {{self.description}}
    </div>
</div>
{% endif %}
