div.block-CardLinks a:hover {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

div.block-CardLinks a {
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}
