div.block-CardLinks a:hover {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 200ms ease-in-out;
    -webkit-transform: scale(1.05);
    transition: all 200ms ease-in-out;
    transform: scale(1.05);
}
