.auth-container {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    display: flex;
    height: 100%;
}

.login-logout-password-frame {
    flex-direction: column;
    max-width: 20em;
    display: flex;
    width: 100%;
    padding: 0;

    form {
        padding-bottom: $inline-space-lg;
    }

    h3 {
        padding-bottom: $inline-space-lg;
        text-align: center;
        margin: 0;
    }

    p {
        margin-bottom: $inline-space-sm;
    }

    ul {
        margin-bottom: $inline-space-sm;
        padding: $inline-space-sm;
        background: $light-gray;
        border-radius: $radius;
    }

    ul.errorlist {
        list-style: none;
        color: red;
    }

    input {
        padding: calc(#{$inline-space-sm} / 2);
        background-color: $light-gray;
        outline: none;
        border: none;
        width: 100%;
    }

    button {
        padding-bottom: calc(#{$inline-space-sm} / 2);
        padding-top: calc(#{$inline-space-sm} / 2);
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        float: right;
    }

    a {
        text-align: center;
    }
}

div.authentication {
    padding-right: $inline-space-sm;
    padding-left: $inline-space-sm;
    border-right: 1px solid $gray;
    margin: auto 0;
    height: 30px;

    a {
        color: $dark-gray;
    }
}
