p:empty, br:empty {
    display: none;
}

img {
    object-fit: cover;
    width: 100%;
}

div.block-RichText div.rich-text, div.block-Chart {
    div.responsive-object {
        position: relative;

        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

div.block-Title {
    background-color: $lightest-green;
    flex-direction: column-reverse;
    justify-content: center;
    display: flex;

    img {
        height: 100%;

        &:not(:only-child) {
            -webkit-filter: brightness(85%);
            filter: brightness(85%);
        }
    }

    p {
        margin-bottom: calc(#{$inline-space-sm} / 2);
    }
}

div.block-SectionTitle {
    h2 {
        text-align: center;
    }

    div {
        background-color: $green;
        margin-right: auto;
        margin-left: auto;
        height: 10px;
        width: 100px;
    }
}

div.block-RichText div.rich-text {
    &::after {
        display: block;
        content: "";
        clear: both;
    }

    li {
        margin-left: 1em;
    }

    img {
        max-height: 576px; // for a 1024px wide screen and 16:9 images
        display: block;
        height: 100%;

        &.right {
            float: right;
            width: 50%;
        }

        &.left {
            float: left;
            width: 50%;
        }

        &.right, &.left {
            // Clearfix hack
            & + ::after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }
}

div.block-Quote {
    background-color: $lightest-green;

    h2 {
        margin-bottom: $inline-space-sm;
        text-align: center;
    }

    p {
        color: $dark-gray !important;
        text-align: center;
        margin-bottom: 0;
    }
}

div.block-CardLinks {
    ul {
        list-style-type: none;

        li {
            padding-right: calc(#{$inline-space-sm} / 2);
            padding-left: calc(#{$inline-space-sm} / 2);
            margin-bottom: $inline-space-lg;

            a {
                padding: $inline-space-sm;
                background-color: $white;
                border-radius: $radius;
                box-shadow: $shadow;
                height: 100%;

                div.responsive-card {
                    padding-bottom: $ratio-16-9;
                    position: relative;
                    height: 0;

                    & > div {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;

                        img {
                            max-height: 100%;
                            max-width: 100%;
                        }

                        div.default-background {
                            background-color: $lightest-green;
                            height: 100%;
                        }
                    }
                }

                h4 {
                    margin-top: $inline-space-sm;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

div.block-Postcard {
    // Clearfix hack
    div.rich-text::after {
        display: block;
        content: "";
        clear: both;
    }

    div.responsive-image {
        padding-bottom: $ratio-1-1;
        position: relative;
        height: 0;

        & > div {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;

            img {
                height: 100%;
            }
        }
    }

    p {
        margin-bottom: 0;
    }
}

div.block-Chart {
    div.responsive-object {
        padding-bottom: $ratio-16-9;
    }
}

@include media-breakpoint-up(md) {
    div.block-RichText, div.block-Quote, div.block-Chart, div.block-SectionTitle {
        margin-bottom: $outer-space-lg;
        margin-top: $outer-space-lg;
    }

    div.block-Postcard {
        margin-bottom: $outer-space-lg;
        margin-top: $outer-space-lg;

        div.float-left, div.float-right {
            width: 40%;
        }

        div.float-left {
            margin-right: $inline-space-sm;
        }

        div.float-right {
            margin-left: $inline-space-sm;
        }
    }

    div.block-RichText div.rich-text {
        & > :not(:empty), & > :last-child {
            margin-bottom: $inline-space-lg;
            margin-top: $inline-space-lg;
        }

        img.right {
            padding-left: $inline-space-sm;
        }

        img.left {
            padding-right: $inline-space-sm;
        }
    }

    div.block-CardLinks {
        margin-bottom: calc(#{$outer-space-lg} - #{$inline-space-lg});
        margin-top: $outer-space-lg;
    }

    div.block-Title {
        margin-right: calc(#{$outer-space-lg} * -1);
        margin-left: calc(#{$outer-space-lg} * -1);
        margin-bottom: $outer-space-lg;
        padding-right: $outer-space-lg;
        padding-left: $outer-space-lg;
        height: 576px;

        img {
            margin-left: calc(#{$outer-space-lg} * -1);
            width: calc(100% + #{$outer-space-lg} * 2);
        }
    }

    div.block-SectionTitle {
        h2 {
            margin-bottom: $inline-space-lg;
        }
    }

    div.block-Quote {
        padding-bottom: calc(#{$outer-space-lg} * 2);
        margin-right: calc(#{$outer-space-lg} * -1);
        margin-left: calc(#{$outer-space-lg} * -1);
        padding-top: calc(#{$outer-space-lg} * 2);
        padding-right: $outer-space-lg;
        padding-left: $outer-space-lg;
    }

    div.block-Chart {
        h4, div.responsive-object {
            margin-bottom: $inline-space-lg;
        }
    }
}

@include media-breakpoint-down(sm) {
    div.block-RichText, div.block-Quote, div.block-Chart, div.block-SectionTitle {
        margin-bottom: $outer-space-sm;
        margin-top: $outer-space-sm;
    }

    div.block-Postcard {
        margin-bottom: $outer-space-sm;
        margin-top: $outer-space-sm;

        div.float-left, div.float-right {
            margin-bottom: $inline-space-sm;
            width: 100%;
        }
    }

    div.block-CardLinks {
        ul li {
            margin-bottom: $inline-space-sm;
        }
    }

    div.block-RichText {
        margin-right: calc(#{$outer-space-sm} * -1);
        margin-left: calc(#{$outer-space-sm} * -1);

        div.rich-text {
            h1, h2, h3, h4, h5, h6, ol, ul, p, div:not(.responsive-object) {
                margin-right: #{$outer-space-sm};
                margin-left: #{$outer-space-sm};
            }

            & > :not(:empty), & > :last-child {
                margin-bottom: $inline-space-sm;
                margin-top: $inline-space-sm;
            }

            img {
                &.right {
                    padding-left: calc(#{$inline-space-sm} / 2);
                }

                &.left {
                    padding-right: calc(#{$inline-space-sm} / 2);
                }
            }

            // Instagram embed
            iframe.instagram-media.instagram-media-rendered {
                min-width: unset !important; // hack instagram embed content width on mobile screens
            }
        }
    }

    div.block-Title {
        margin-right: calc(#{$outer-space-sm} * -1);
        margin-left: calc(#{$outer-space-sm} * -1);
        margin-bottom: $outer-space-sm;
        padding-right: $outer-space-sm;
        padding-left: $outer-space-sm;
        height: 343px;

        img {
            margin-left: calc(#{$outer-space-sm} * -1);
            width: calc(100% + #{$outer-space-sm} * 2);
        }
    }

    div.block-SectionTitle {
        h2 {
            margin-bottom: $inline-space-sm;
        }
    }

    div.block-Quote {
        padding-bottom: calc(#{$outer-space-sm} * 2);
        margin-right: calc(#{$outer-space-sm} * -1);
        margin-left: calc(#{$outer-space-sm} * -1);
        padding-top: calc(#{$outer-space-sm} * 2);
        padding-right: $outer-space-sm;
        padding-left: $outer-space-sm;
    }

    div.block-Chart {
        h4, div.responsive-object {
            margin-bottom: $inline-space-sm;
        }
    }
}

@include media-breakpoint-only(sm) {
    div.block-CardLinks {
        margin-bottom: calc(#{$outer-space-sm} - #{$inline-space-sm});
    }
}

@include media-breakpoint-down(xs) {
    div.block-CardLinks {
        margin-bottom: $outer-space-sm;

        ul li:last-child {
            margin-bottom: 0;
        }
    }
}
