p:empty, br:empty {
    display: none;
}

img {
    object-fit: cover;
    width: 100%;
}

div.block-Title {
    flex-direction: column-reverse;
    background-color: $light-gray;
    justify-content: center;
    display: flex;
    height: 343px;

    p {
        margin-bottom: calc(#{$inline-space-sm} / 2);
    }
}

div.block-RichText div.rich-text {
    &::after {
        display: block;
        content: "";
        clear: both;
    }

    img {
        max-height: 576px; // for a 1024px wide screen and 16:9 images
        display: block;
        height: 100%;

        &.right {
            float: right;
            width: 50%;
        }

        &.left {
            float: left;
            width: 50%;
        }

        &.right, &.left {
            // Clearfix hack
            & + ::after {
                display: block;
                content: "";
                clear: both;
            }
        }
    }

    // Video (e.g. YouTube) embed
    div.responsive-object {
        position: relative;

        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
        }
    }
}

div.block-Quote {
    p {
        text-align: center;
    }

    p:first-child {
        margin-bottom: 10px;
    }

    p:last-child {
        color: $dark-gray !important;
    }
}

div.block-CardLinks {
    ul {
        list-style-type: none;

        li {
            padding-right: calc(#{$inline-space-sm} / 2);
            padding-left: calc(#{$inline-space-sm} / 2);
            margin-bottom: $inline-space-lg;

            a {
                padding: $inline-space-sm;
                background-color: $white;
                border-radius: $radius;
                box-shadow: $shadow;
                display: block;
                height: 100%;

                div.responsive-card {
                    padding-bottom: $ratio-16-9;
                    position: relative;
                    height: 0;

                    & > div {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;

                        img {
                            max-height: 100%;
                            max-width: 100%;
                        }

                        div.default-background {
                            background-color: $light-green;
                            border-radius: $radius;
                            height: 100%;
                        }
                    }
                }

                h4 {
                    margin-top: $inline-space-sm;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

div.block-Postcard {
    margin-right: calc((#{$inline-space-sm} * -1) / 2);
    margin-left: calc((#{$inline-space-sm} * -1) / 2);
    padding: $inline-space-sm;
    background-color: $white;
    border-radius: $radius;
    box-shadow: $shadow;

    p {
        margin-bottom: 0;
    }

    img {
        height: 100%;
    }
}

// Portrait tablets and up
@media screen and (min-width: 768px) {
    div.block-Postcard, div.block-RichText, div.block-Quote {
        margin-bottom: $outer-space-lg;
        margin-top: $outer-space-lg;
    }

    div.block-RichText div.rich-text {
        & > :not(:empty), & > :last-child {
            margin-bottom: $inline-space-lg;
            margin-top: $inline-space-lg;
        }

        img.right {
            padding-left: $inline-space-sm;
        }

        img.left {
            padding-right: $inline-space-sm;
        }
    }

    div.block-CardLinks {
        margin-bottom: calc(#{$outer-space-lg} - #{$inline-space-lg});
        margin-top: $outer-space-lg;
    }

    div.block-Title {
        margin-right: calc(#{$outer-space-lg} * -1);
        margin-left: calc(#{$outer-space-lg} * -1);
        margin-bottom: $outer-space-lg;
        padding-right: $outer-space-lg;
        padding-left: $outer-space-lg;
    }
}

// Landscape phones and down
@media screen and (max-width: 767.98px) {
    div.block-Postcard, div.block-RichText, div.block-Quote {
        margin-bottom: $outer-space-sm;
        margin-top: $outer-space-sm;
    }

    div.block-CardLinks {
        ul li {
            margin-bottom: $inline-space-sm;
        }
    }

    div.block-RichText {
        margin-right: calc(#{$outer-space-sm} * -1);
        margin-left: calc(#{$outer-space-sm} * -1);

        div.rich-text {
            h1, h2, h3, h4, h5, h6, ol, ul, p, div:not(.responsive-object) {
                margin-right: #{$outer-space-sm};
                margin-left: #{$outer-space-sm};
            }

            & > :not(:empty), & > :last-child {
                margin-bottom: $inline-space-sm;
                margin-top: $inline-space-sm;
            }

            img {
                &.right {
                    padding-left: calc(#{$inline-space-sm} / 2);
                }

                &.left {
                    padding-right: calc(#{$inline-space-sm} / 2);
                }
            }

            // Instagram embed
            iframe.instagram-media.instagram-media-rendered {
                min-width: unset !important; // hack instagram embed content width on mobile screens
            }
        }
    }

    div.block-Title {
        margin-right: calc(#{$outer-space-sm} * -1);
        margin-left: calc(#{$outer-space-sm} * -1);
        margin-bottom: $outer-space-sm;
        padding-right: $outer-space-sm;
        padding-left: $outer-space-sm;
    }
}

// Landscape phones and tablets
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    div.block-CardLinks {
        margin-bottom: calc(#{$outer-space-sm} - #{$inline-space-sm});
    }
}

// Portrait phones
@media screen and (max-width: 575.98px) {
    div.block-CardLinks {
        margin-bottom: $outer-space-sm;

        ul li:last-child {
            margin-bottom: 0;
        }
    }
}
