footer {
    border-top: 1px solid $gray;
    padding: $inline-space-sm 0;
    background-color: $white;

    ul li.footer-item {
        margin-right: $inline-space-sm;
        margin-left: $inline-space-sm;
        white-space: nowrap;
        color: $dark-gray;
        display: inline;
    }
}

@include media-breakpoint-down(sm) {
    footer div:last-child {
        margin-top: $inline-space-sm;
        margin-right: auto;
        margin-left: auto;
    }
}

@include media-breakpoint-up(md) {
    footer div:last-child {
        position: absolute;
        width: 100%;
    }
}
