footer {
    border-top: 1px solid $green;
    background-color: $white;
    padding: $padding 0;

    ul li.footer-item {
        margin-right: $padding;
        margin-left: $padding;
        white-space: nowrap;
        display: inline;
        color: $black;
    }
}
