header {
    padding: $inline-space-sm;
    height: $top-menu-height;

    ul {
        margin-bottom: -15px !important; // -15px due to header top padding
        margin-top: -15px !important; // -15px due to header bottom padding
        -ms-overflow-style: none;  /* hide scrollbar on IE 10+ */
        scrollbar-width: none; /* hide scrollbar on Firefox */
        white-space: nowrap;
        overflow-x: auto;

        li.header-item {
            height: $top-menu-height;
            display: inline-block;
            white-space: nowrap;
            margin-right: 15px;
            margin-left: 15px;

            &[aria-expanded="true"] a {
                border-bottom: 3px solid $green;
                padding-bottom: 0;
            }

            a {
                padding-bottom: 3px;
                color: $black;
                height: 100%;

                &:hover {
                    color: $green;
                }
            }
        }

        &::-webkit-scrollbar { /* hide scrollbar for WebKit */
            width: 0;
            height: 0;
        }
    }
}

header:not(.mobile-header) {
    padding: $inline-space-sm;
    background-color: $white;
    box-shadow: $shadow;

    nav {
        width: calc(100% - 46px - 76px - 75px); // subtract magnifying glass, logout button and language switch
    }

    div.search-box {
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        border-right: 1px solid $gray;
        height: 30px;
    }

    div.burger-menu {
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        margin: auto 0;
    }
}

header.mobile-header {
    padding: $inline-space-sm 0;
    position: fixed;

    input {
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        height: 30px;
        width: 100%;
        border: 0;
    }
}

header.mobile-header.top-pages {
    background-color: $light-gray;
    z-index: 1029;
}

header.mobile-header.search-bar {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
    background-color: $white;
    box-shadow: $shadow;
    z-index: 1030;
    top: 59px; // top menu height - 1px to overlap the main header's shadow.

    input {
        background-color: #F5F4F4;
    }
}

@include media-breakpoint-down(md) {
    header.mobile-header {
        width: 100%;

        nav {
            width: 100%;
        }
    }
}

@include media-breakpoint-up(lg) {
    header.mobile-header {
        right: $inline-space-sm;
        width: 400px;
    }
}
