header {
    padding: $inline-space-sm;
    height: $top-menu-height;


    ul {
        margin-bottom: -15px !important; // -15px due to header top padding
        margin-top: -15px !important; // -15px due to header bottom padding

        li.header-item {
            display: inline-block;
            white-space: nowrap;
            margin-right: 15px;
            margin-left: 15px;

            &[aria-expanded="true"] a {
                border-bottom: 3px solid $green;
                color: $green;
            }

            a {
                color: $black;
                height: 100%;
            }
        }
    }
}

header:not(.on-mobile) {
    padding: $inline-space-sm;
    background-color: $white;
    box-shadow: $shadow;

    form.search-box {
        border-right: 1px solid $dark-gray;
        margin: auto 0;

        input[type="text"] {
            width: calc(100% - 5px - 15px - 5px);
            margin-left: 5px;
            height: 30px;
            border: 0;
        }
    }

    div.authentication {
        border-right: 1px solid $dark-gray;
        line-height: 30px;
        margin: auto 0;
        height: 30px;

        a {
            color: $dark-gray;
        }
    }

    form.language-selector {
        margin: auto 0;

        input[type="radio"] {
            display: none;

            &:checked + label {
                color: $green;
            }
        }

        label {
            text-transform: uppercase;
            margin-bottom: 0;
            color: $black;
        }

        span:last-of-type { display: none; }
    }

    div.burger-menu {
        margin: auto 0;
    }
}

header.on-mobile {
    background-color: $light-gray;
    padding: $inline-space-sm 0;
    position: fixed;
    width: 100%;
    z-index: 1;

    nav {
        width: 100%;
    }
}
