header {
    padding: $inline-space-sm;
    height: $top-menu-height;


    ul {
        margin-bottom: -15px !important; // -15px due to header top padding
        margin-top: -15px !important; // -15px due to header bottom padding

        li.header-item {
            display: inline-block;
            white-space: nowrap;
            margin-right: 15px;
            margin-left: 15px;

            &[aria-expanded="true"] a {
                border-bottom: 3px solid $green;
                color: $green;
            }

            a {
                color: $black;
                height: 100%;
            }
        }
    }
}

header:not(.mobile-header) {
    padding: $inline-space-sm;
    background-color: $white;
    box-shadow: $shadow;

    form.search-box {
        border-right: 1px solid $gray;
        height: 30px;

        input[type="text"] {
            width: calc(100% - 5px - 15px - 5px);
            margin-left: 5px;
            height: 30px;
            border: 0;
        }
    }

    div.burger-menu {
        margin: auto 0;
    }
}

header.mobile-header {
    background-color: $light-gray;
    padding: $inline-space-sm 0;
    position: fixed;
    width: 100%;
    z-index: 1;

    nav {
        width: 100%;
    }

    input {
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        width: 100%;
        border: 0;
    }
}
