span.ministry-logo {
    background-image: url("../images/ministry_logo.svg");
    background-repeat: no-repeat;
    background-size: 55px;
    display: block;
    margin: 0 auto;
    height: 55px;
    width: 56px;
}

span.app-logo {
    background-image: url("../images/app_logo.svg");
    background-repeat: no-repeat;
    display: block;
    height: 25px;
    width: 72px;
}

span.magnifier {
    background-image: url("../images/magnifier.svg");
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: -2px;
    height: 15px;
    width: 15px;

    &:hover {
        cursor: pointer;
    }
}

span.burger {
    background-image: url("../images/burger.svg");
    background-repeat: no-repeat;
    height: 18px;
    width: 28px;
}

span.love {
    background-image: url("../images/love.svg");
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    height: 12px;
    width: 15px;
}

@include media-breakpoint-up(lg) {
    span.app-logo {
        margin: 0 auto;
    }
}

@include media-breakpoint-down(md) {
    span.app-logo {
        margin: 0 15px;
    }
}
