span.ministry-logo {
    background-image: url(../../sitewide_static_sources/images/ministry_logo.svg);
    background-repeat: no-repeat;
    display: block;
    margin: 0 auto;
    height: 55px;
    width: 56px;
}
