form.language-selector {
    padding-right: $inline-space-sm;
    padding-left: $inline-space-sm;
    margin: auto 0;

    input[type="radio"] {
        display: none;

        &:checked + label {
            color: $green;
        }
    }

    label {
        text-transform: uppercase;
        margin-bottom: 0;
        color: $black;

        &:hover {
            cursor: pointer;
        }
    }

    span:last-of-type {
        display: none;
    }
}
