div.search-results {
    padding-top: $outer-space-sm;

    h2 {
        margin-bottom: $outer-space-sm;
    }

    nav ul {
        list-style-type: none;

        li {
            margin-bottom: $inline-space-sm;

            a {
                margin-bottom: $inline-space-sm;
                display: block;
            }

            p {
                margin-bottom: 0;
            }
        }

        hr:last-child {
            display: none;
        }
    }

    div.pagination {
        margin-top: $inline-space-lg;

        a {
            padding: 5px;

            &:hover {
                color: $white;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    div.search-results {
        margin-bottom: $outer-space-sm;
    }
}

@include media-breakpoint-up(sm) {
    div.search-results {
        margin-bottom: $outer-space-lg;
    }
}
