div.search-results {
    padding-top: $outer-space-sm;

    nav ul {
        list-style-type: none;

        li {
            margin-bottom: $inline-space-sm;

            a {
                padding: $inline-space-sm;
                background-color: $white;
                border-radius: $radius;
                box-shadow: $shadow;
                display: block;

                h4 {
                    font-weight: bold;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }
    }

    div.pagination {
        margin-top: $inline-space-lg;

        a {
            padding: 5px;

            &:hover {
                color: $white;
            }
        }
    }
}

// Portrait mobile
@media screen and (max-width: 575.98px) {
    div.search-results {
        margin-bottom: $outer-space-sm;

        h2 {
            margin-bottom: $outer-space-sm;
        }
    }
}

// Landscape mobile and up
@media screen and (min-width: 576px) {
    div.search-results {
        margin-bottom: $outer-space-lg;

        h2 {
            margin-bottom: $outer-space-lg;
        }
    }
}
