div.sidebar {
    background-color: $white;
    overflow: auto;

    ul {
        list-style-type: none;
        margin-left: -15px;

        li {
            &[aria-expanded="true"] > a {
                border-bottom-right-radius: 100px;
                border-top-right-radius: 100px;
                background-color: $light-green;
                padding-bottom: 5px;
                color: $dark-green;
                padding-top: 5px;
            }

            & > a {
                min-height: 40px;
            }

            a {
                margin-bottom: $inline-space-sm;
                font-family: Pyidaungsu-Bold;
                padding-left: 40px;
                color: $black;
            }

            ul {
                padding-left: 40px;
                margin-left: 0;

                li {
                    &[aria-expanded="true"] > a {
                        border-left: 3px solid $green;
                        background-color: unset;
                        padding-bottom: 0;
                        padding-top: 0;
                        color: $green;
                    }

                    a {
                        font-family: Pyidaungsu-Regular;
                        padding-left: 10px;
                        font-size: .9em;
                        height: unset;
                    }

                    ul {
                        padding-left: 10px;

                        li a {
                            font-size: .8em;
                        }
                    }
                }
            }
        }
    }

    div.widgets {
        background-color: $light-gray;
        height: $top-menu-height;
    }
}

// Portrait tablets and down
@media screen and (max-width: 991.98px) {
    div.sidebar, div.background {
        position: fixed;
        top: 120px;
    }

    div.sidebar {
        // subtract ($top-menu-height) 3 times due to header, header mobile and widgets height.
        height: calc(100% - #{$top-menu-height} - #{$top-menu-height} - #{$top-menu-height});
        padding-top: $outer-space-sm;
        z-index: 2;
    }

    div.background {
        background-color: $dark-green;
        opacity: 0.8;
        height: 100%;
        z-index: 1;
        right: 0;
    }
}

// Landscape tablet and up
@media screen and (min-width: 992px) {
    div.sidebar {
        border-right: 1px solid $gray;
        padding-top: $outer-space-lg;
    }
}
