@font-face {
    font-family: "Pyidaungsu-Regular";
    src: url("../fonts/Pyidaungsu-2.5.3_Regular.woff2") format("woff2"),
         url("../fonts/Pyidaungsu-2.5.3_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu-Bold";
    src: url("../fonts/Pyidaungsu-2.5.3_Bold.woff2") format("woff2"),
         url("../fonts/Pyidaungsu-2.5.3_Bold.ttf") format("truetype");
}

// Extra small screens
@media screen and (max-width: 575.98px) {
    html body {
        font-size: 18px;

        header {
            font-size: 0.9em;
        }

        div.sidebar {
            font-size: 0.9em;
        }

        footer {
            font-size: 0.8em;
        }
    }
}

// Small screens
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    html body {
        font-size: 20px;

        header {
            font-size: 0.8em;
        }

        div.sidebar {
            font-size: 0.8em;
        }

        footer {
            font-size: 0.7em;
        }
    }
}

// Medium screens
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    html body {
        font-size: 22px;

        header {
            font-size: 0.8em;
        }

        div.sidebar {
            font-size: 0.8em;
        }

        footer {
            font-size: 0.7em;
        }
    }
}

// Large screens
@media screen and (min-width: 992px) {
    html body {
        font-size: 24px;

        header {
            font-size: 0.7em;
        }

        div.sidebar {
            font-size: 0.7em;
        }

        footer {
            font-size: 0.6em;
        }
    }
}

h1 {
    font-family: Pyidaungsu-Bold;
    font-size: 2.3em;
    color: $black;
}

h2 {
    font-family: Pyidaungsu-Bold;
    font-size: 1.6em;
    color: $black;
}

h3 {
    font-family: Pyidaungsu-Bold;
    font-size: 1.3em;
    color: $black;
}

h4 {
    font-family: Pyidaungsu-Bold;
    word-break: break-word;
    font-size: 1em;
    color: $black;
}

h5 {
    font-family: Pyidaungsu-Bold;
    font-size: 0.8em;
    color: $black;
}

h6 {
    font-family: Pyidaungsu-Bold;
    font-size: 0.5em;
    color: $black;
}

p {
    font-family: Pyidaungsu-Regular;
    word-break: break-word;
    font-size: 1em;
    color: $black;

    b {
        font-family: Pyidaungsu-Bold;
    }

    &.text-sm {
        font-size: 0.7em;
    }
}

div.sidebar {
    ul li {
        a {
            font-size: 1em;
        }

        ul li {
            a {
                font-size: 0.95em;
            }

            ul li a {
                font-size: 0.9em;
            }
        }
    }
}

div.block-Quote {
    p:first-child {
        font-size: 1.4em;
    }
}
