@font-face {
    font-family: "Pyidaungsu-Regular";
    src: url("../fonts/Pyidaungsu-2.5.3_Regular.woff2") format("woff2"),
         url("../fonts/Pyidaungsu-2.5.3_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu-Bold";
    src: url("../fonts/Pyidaungsu-2.5.3_Bold.woff2") format("woff2"),
         url("../fonts/Pyidaungsu-2.5.3_Bold.ttf") format("truetype");
}
