@font-face {
    font-family: "Pyidaungsu-Regular";
    src: url("../fonts/Pyidaungsu-2.5.3_Regular.woff2") format("woff2"),
         url("../fonts/Pyidaungsu-2.5.3_Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Pyidaungsu-Bold";
    src: url("../fonts/Pyidaungsu-2.5.3_Bold.woff2") format("woff2"),
         url("../fonts/Pyidaungsu-2.5.3_Bold.ttf") format("truetype");
}

@include media-breakpoint-down(xs) {
    html body {
        font-size: 18px;

        header {
            font-size: 0.9em;
        }

        div.sidebar {
            font-size: 0.9em;
        }

        footer {
            font-size: 0.8em;
        }
    }
}

@include media-breakpoint-only(sm) {
    html body {
        font-size: 20px;

        header {
            font-size: 0.8em;
        }

        div.sidebar {
            font-size: 0.8em;
        }

        footer {
            font-size: 0.7em;
        }
    }
}

@include media-breakpoint-only(md) {
    html body {
        font-size: 22px;

        header {
            font-size: 0.8em;
        }

        div.sidebar {
            font-size: 0.8em;
        }

        footer {
            font-size: 0.7em;
        }

        div.block-RichText div.rich-text p {
            text-align: justify;
        }
    }
}

@include media-breakpoint-up(lg) {
    html body {
        font-size: 24px;

        header {
            font-size: 0.7em;
        }

        div.sidebar {
            font-size: 0.7em;
        }

        footer {
            font-size: 0.6em;
        }

        div.block-RichText div.rich-text p {
            text-align: justify;
        }
    }
}

h1 {
    font-family: Pyidaungsu-Bold;
    font-size: 2.3em;
    color: $black;
}

h2 {
    font-family: Pyidaungsu-Bold;
    font-size: 1.6em;
    color: $black;
}

h3 {
    font-family: Pyidaungsu-Bold;
    font-size: 1.3em;
    color: $black;
}

h4 {
    font-family: Pyidaungsu-Bold;
    word-break: break-word;
    font-size: 1em;
    color: $black;
}

h5 {
    font-family: Pyidaungsu-Bold;
    font-size: 0.8em;
    color: $black;
}

h6 {
    font-family: Pyidaungsu-Bold;
    font-size: 0.5em;
    color: $black;
}

p {
    font-family: Pyidaungsu-Regular;
    word-break: break-word;
    font-size: 1em;
    color: $black;

    b {
        font-family: Pyidaungsu-Bold;
    }

    &.text-sm {
        font-size: 0.7em;
    }
}

.button-primary {
    font-size: 0.8em;
}

div.sidebar {
    ul li {
        a {
            font-size: 1em;
        }

        ul li {
            a {
                font-size: 0.95em;
            }

            ul li a {
                font-size: 0.9em;
            }
        }
    }
}

div.block-Quote {
    p:first-child {
        font-size: 1.4em;
    }
}

div.block-Chart {
    div.rich-text p {
        color: $dark-gray;
        font-size: 0.7em;
    }
}

div.login-logout-password-frame {
    p, a, ul {
        font-size: 0.8em;
    }
}

a {
    color: $green;

    &:hover {
        cursor: pointer;
        color: $green;
    }
}
