// Vendor
@import "~bootstrap/scss/bootstrap";

// Base
@import "variables";
@import "animations";
@import "typography";
@import "buttons";
@import "images";

// Components
@import "language_selector";
@import "authentication";
@import "sidebar";
@import "header";
@import "footer";
@import "blocks";
@import "search";

// General styling
html {
    height: 100%;

    body {
        font-family: Pyidaungsu-Regular;
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        padding-top: $top-menu-height;
        height: 100%;

        ul, ol {
            list-style-position: inside;
            padding: 0;
            margin: 0;
        }

        a:hover {
            text-decoration: none;
        }

        input {
            border-radius: $radius;
            color: $black;

            &::-webkit-input-placeholder { color: $dark-gray; } /* Chrome/Opera/Safari */
            &:-ms-input-placeholder { color: $dark-gray; } /* IE 10+ */
            &::-moz-placeholder { color: $dark-gray; } /* Firefox 19+ */
            &:-moz-placeholder { color: $dark-gray; } /* Firefox 18- */
        }

        input[type="text"]:focus {
            outline: none;
        }

        hr {
            margin: $inline-space-lg 0;
            border-color: $gray;
        }

        div.body {
            div.content {
                overflow: auto;
                height: 100%;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    html body div.body {
        min-height: calc(100% - #{$bottom-menu-height-mobile});

        div.content {
            padding-right: $outer-space-sm;
            padding-left: $outer-space-sm;
        }
    }
}

@include media-breakpoint-up(md) {
    html body div.body {
        min-height: calc(100% - #{$bottom-menu-height-desktop});

        div.content {
            padding-right: $outer-space-lg;
            padding-left: $outer-space-lg;
        }
    }
}

@include media-breakpoint-up(xl) {
    html body div.body div.content:not(.not-home) > div:not(.block-Title):not(.block-Quote) {
        margin-right: auto;
        margin-left: auto;
    }

    html body div.body div.content > div:not(.block-Title):not(.block-Quote) {
        max-width: 1024px;
    }

    html body div.body div.content:not(.not-home) > div.block-Title {
        div {
            right: 0;
            left: 0;
        }

        h1, p {
            margin-right: auto;
            margin-left: auto;
            width: 1024px;
        }
    }
}
