// Vendor
@import "~bootstrap/scss/bootstrap";

// Base
@import "variables";
@import "typography";
@import "buttons";
@import "images";

// Components
@import "language_selector";
@import "authentication";
@import "sidebar";
@import "header";
@import "footer";
@import "blocks";
@import "search";

// General styling
html {
    height: 100%;

    body {
        font-family: Pyidaungsu-Regular;
        padding-right: $inline-space-sm;
        padding-left: $inline-space-sm;
        padding-top: $top-menu-height;
        height: 100%;

        ul, ol {
            list-style-position: inside;
            padding: 0;
            margin: 0;
        }

        a:hover {
            text-decoration: none;
        }

        input {
            border-radius: $radius;
            color: $black;

            &::-webkit-input-placeholder { color: $dark-gray; } /* Chrome/Opera/Safari */
            &:-ms-input-placeholder { color: $dark-gray; } /* IE 10+ */
            &::-moz-placeholder { color: $dark-gray; } /* Firefox 19+ */
            &:-moz-placeholder { color: $dark-gray; } /* Firefox 18- */
        }

        input[type="text"]:focus {
            outline: none;
        }

        hr {
            border-color: $light-green;
            margin: $inline-space-lg 0;
        }

        div.body {
            div.content {
                overflow: auto;
                height: 100%;
            }
        }
    }
}

// Landscape phones and down
@media screen and (max-width: 767.98px) {
    html body div.body {
        min-height: calc(100% - #{$bottom-menu-height-mobile});

        div.content {
            padding-right: $outer-space-sm;
            padding-left: $outer-space-sm;
        }
    }
}

// Portrait tablets and up
@media screen and (min-width: 768px) {
    html body div.body {
        min-height: calc(100% - #{$bottom-menu-height-desktop});

        div.content {
            padding-right: $outer-space-lg;
            padding-left: $outer-space-lg;
        }
    }
}

// Extra large screens
@media screen and (min-width: 1200px) {
    html body div.body div.content.not-home > div:not(.block-Title) {
        max-width: 80%;
    }
}
