{% extends 'base.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="login-logout-password-frame">
        {% if validlink %}
        <h1>Change your password.</h1>
        <form method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Change my password</button>
        </form>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has
            already been used. Please request a new password reset.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
