{% load static wagtailuserbar %}
{% load staticfiles %}
{% load home_templatetags %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script type="text/javascript">window.liveSettings={api_key:"d7fb2af8094849978ed43dd2d9a372fb"};</script>
<script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% block content %}
    {% endblock content %}

    {# Global javascript #}
    <script type="text/javascript" src="{% static 'main.js' %}"></script>

    {# Google Analytics #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_MEASUREMENT_ID"></script>

    {% get_google_analytics_tag as GA_TAG %}
    {% if GA_TAG != '' %}
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ GA_TAG }}');
    </script>
    {% endif %}
</body>
</html>
