{% extends 'base.html' %}

{% load i18n %}
{% load home_templatetags %}

{% block content %}

{% on_home_or_search_page self as side_menu_is_hidden %}
{% get_accordion_menu self as menu_tree %}

<header class="align-items-center d-flex fixed-top row">
    <div class="col-6 col-md-2">
        <a href="/">
            <span class="app-logo"></span>
        </a>
    </div>
    <div class="col-6 col-md-10 d-flex justify-content-end">
        <nav class="d-lg-flex d-none flex-grow-1 justify-content-center">
            <ul class="d-flex">
                {% for top_level_page in menu_tree.children %}
                <li class="header-item" aria-expanded="{{ top_level_page.active | lower }}">
                    <a class="align-items-center d-flex" href="{{ top_level_page.url }}">{{ top_level_page.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>

        <form class="align-items-center justify-content-center d-flex search-box" action="{% url 'search' %}" method="get">
            <span class="magnifier" onclick="myeqip.toggle_search_bar()"></span>
            <input class="d-none d-lg-inline-block" type="text" name="query" placeholder="search">
        </form>

        <div class="align-items-center authentication d-lg-flex d-none">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">logout</a>
            {% else %}
            <a href="{% url 'login' %}">login</a>
            {% endif %}
        </div>

        <form class="align-items-center d-lg-flex d-none language-selector" action="{% url 'set_language' %}" method="post">{% csrf_token %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <input id="language-{{ language.code }}" type="radio" name="language" value="{{ language.code }}" onclick="this.form.submit()" {% if language.code == LANGUAGE_CODE %}checked{% endif %}>
            <label for="language-{{ language.code }}">{{ language.code }}</label>
            <span>-</span>
            {% endfor %}
        </form>

        <div class="burger-menu d-flex d-lg-none justify-content-center">
            <span class="burger d-flex" onclick="myeqip.toggle_sidebar()"></span>
        </div>
    </div>
</header>

<header class="d-none d-lg-none mobile-header row">
    <nav class="d-none top-pages">
        <ul class="col-12 d-flex justify-content-center">
            {% for top_level_page in menu_tree.children %}
            <li class="header-item" aria-expanded="{{ top_level_page.active | lower }}">
                <a class="align-items-center d-flex" href="{{ top_level_page.url }}">{{ top_level_page.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <form class="col-12 d-none search-bar" action="{% url 'search' %}" method="get">
        <input class="d-flex justify-content-center" type="text" name="query" placeholder="search">
    </form>
</header>

<div class="body row">
    <div class="{% if not side_menu_is_hidden %}col-10 col-md-4 col-lg-2 d-lg-block{% endif %} d-none sidebar">
        <ul>
            {% for top_level_page in menu_tree.children %}

            {% if top_level_page.active and top_level_page.number_of_children %}

            {% for second_level_page in top_level_page.children %}

            <li aria-expanded="{{ second_level_page.active | lower }}">
                <a class="align-items-center d-flex" href="{{ second_level_page.url }}">{{ second_level_page.title }}</a>
                {% if second_level_page.number_of_children %}
                <ul>
                    {% for third_level_page in second_level_page.children %}
                    <li aria-expanded="{{ third_level_page.active | lower }}">
                        <a class="align-items-center d-flex" href="{{ third_level_page.url }}">{{ third_level_page.title }}</a>
                        {% if third_level_page.number_of_children %}
                        <ul>
                            {% for fourth_level_page in third_level_page.children %}
                            <li aria-expanded="{{ fourth_level_page.active | lower }}">
                                <a class="align-items-center d-flex" href="{{ fourth_level_page.url }}">{{ fourth_level_page.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
            {% endif %}
            {% endfor %}
        </ul>
        <div class="{% if side_menu_is_hidden %}col-12 col-md-12{% endif %} col-10 col-md-4 d-flex d-lg-none fixed-bottom widgets">
            <div class="authentication col-6 text-center">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">logout</a>
                {% else %}
                <a href="{% url 'login' %}">login</a>
                {% endif %}
            </div>

            <form class="col-6 language-selector text-center" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                <input id="language-{{ language.code }}" type="radio" name="language" value="{{ language.code }}" onclick="this.form.submit()" {% if language.code == LANGUAGE_CODE %}checked{% endif %}>
                <label for="language-{{ language.code }}">{{ language.code }}</label>
                <span>-</span>
                {% endfor %}
            </form>
        </div>
    </div>
    <div class="col-12 {% if not side_menu_is_hidden %}col-lg-10{% endif %} content">
        {% block page %}
        {% endblock page %}
    </div>
</div>

<div class="col-12 d-none d-lg-none background"></div>

<footer class="align-items-center d-flex row">
    <div class="col-12 col-md-2">
        <a href="https://www.moe.edu.mm/" target="_blank">
            <span class="ministry-logo"></span>
        </a>
    </div>
    <div class="col-12 col-md-10 text-center">
        <ul>
            <li class="footer-item">Designed with <span class="love"></span> by Catalpa.</li>
        </ul>
    </div>
</footer>
{% endblock content %}
